body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #C04024;
  text-decoration: none;
}

a:hover {
  color: #C04024;
}

.contentContainer {
  margin-top: 70px !important;
}

.addressTag {
  color: #C04024;
  text-decoration: none;
  padding-top: 5px;
  /* font-size: 18px; */
}

.addressTag:hover {
  color: #C04024;
}

.socialMediaLinks {
  display: flex;
  padding-top: 20px;
  white-space: nowrap;
}

.paddingLeft10 {
  padding-left: 10px;
}

.profileName {
  font-size: 35px;
}

.fontSize36 {
  font-size: 36px;
}

.profileDesc {
  font-size: 21px;
}

.linkedinColor, .linkedinColor:hover {
  background-color: #463EE3;
  border-color: #463EE3;
}

.gmailColor, .gmailColor:hover {
  background-color: #ec971f;
  border-color: #ec971f;
}

.scholarColor, .scholarColor:hover {
  background-color: #7C7C79;
  border-color: #7C7C79;
}

.infoSection {
  padding-top: 40px;
}

.buttonLineHeight {
  line-height: 1 !important;
  font-size: 13px;
}

.curriculumVitae {
  background-color: #4F8C1C !important;
  border-color: #4F8C1C !important;
}

.sectionContainer {
  padding-top: 30px;
  align-items: baseline;
}

.contentFontSize {
  font-size: 16px;
}

.headingBar {
  color: red;
  border-radius: 10px;
  height: 10px !important;
  opacity: 1 !important;
  margin: 0;
}

.headingFontSize {
  font-size: 28px;
}

.dateColor {
  background-color: brown !important;
  font-size: 11px;
}

.alignBaseline {
  align-items: baseline;
}

.badgePadding {
  padding-right: 10px;
}

.boldColor {
  color: blue;
}

.contentPadding {
  padding-right: 10px;
}

.newsContainer {
  align-items: baseline;
  padding-bottom: 8px;
}

.newsContentPadding {
  padding-left: 10px;
}

@media only screen and (min-width: 1780px) {
  .dateContainer {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
}

.nav-item {
  padding-left: 10px !important;
}

.nameFontColor, .nameFontColor:hover {
  color: green;
}

.abstractMargin {
  margin-right: 10px;
}

.abstractContentPadding {
  padding-top: 10px;
}

.abstractBadge:hover {
  cursor: pointer;
}

.seminarDateMargin {
  margin-right: 10px;
}

.seminarsContainerPadding {
  padding-bottom: 10px;
}

.seminarsContentPadding {
  padding: 5px 0px;
}