body {
  font-family: 'Albert Sans', sans-serif;
}

.contentContainer {
  margin-top: 70px !important;
}

.addressTag {
  color: #C04024;
  text-decoration: none;
  padding-top: 5px;
  font-size: 18px;
}

.socialMediaLinks {
  display: flex;
  /* justify-content: space-evenly; */
  padding-top: 20px;
  /* margin-left: -30px; */
}

.paddingLeft10 {
  padding-left: 10px;
}

.profileName {
  font-size: 35px;
}

.fontSize36 {
  font-size: 36px;
}

.profileDesc {
  font-size: 23px;
}

.linkedinColor {
  background-color: #463EE3;
  border-color: #463EE3;
}

.twitterColor {
  background-color: #0077b5;
  border-color: #0077b5;
}

.gmailColor {
  background-color: #BB001B;
  border-color: #BB001B;
}

.scholarColor {
  background-color: #7C7C79;
  border-color: #7C7C79;
}

.infoSection {
  padding-top: 40px;
}

.buttonLineHeight {
  line-height: 1 !important;
}

.curriculumVitae {
  background-color: #4F8C1C !important;
  border-color: #4F8C1C !important;
}